
/* // Calendar style schedule */
:root {
  --purple: #834D9D;
  --orange: #F2A431;
  --green: #55B849;
  --peach: #DB8457;
  --lavender: #8174B1;
  --aquamarine: #ADD8E6;
  --dark_blue: #000080;
  --dark_red: #800020;
  --dark_green: #228B22;
  --lemon: #F5C108;
  --dirty_pink: #DA3074;
  --electric_purple: #CC00FF;
  --deep_orange: #FF9900;
  --teal_blue: #006666;
  --dark_magenta: #660066;
}
.lecture {
  background-color: var(--dark_blue);
  border-color: var(--dark_blue);
}
.talk {
  background-color: var(--lavender);
  border-color: var(--lavender);
}
.exercise {
  background-color: var(--lemon);
  border-color: var(--lemon);
}
.meal {
  background-color: var(--dark_green);
  border-color: var(--dark_green);
}
.party {
  background-color: var(--dark_magenta);
  border-color: var(--dark_magenta);
}
.other {
  background-color: var(--peach);
  border-color: var(--peach);
}
.fc-event-title {
  font-weight: bold;
  font-size: 0.8em;
}
.fc-event-location {
  font-size: 0.8em;
  font-style: italic;
}
.fc-list-event {
  background-color: white;
}
.newdot {
  display: inline-block !important;
  box-sizing: content-box !important;
  width: calc(var(--fc-list-event-dot-width)) !important;
  height: calc(var(--fc-list-event-dot-width)) !important;
  border-radius: calc(var(--fc-list-event-dot-width) / 2);
}
.location {
  font-style: italic;
  font-size: 0.8em;
}

.popper,
.tooltip {
  position: absolute;
  z-index: 9999;
  background: #ffffff;
  color: black;
  width: 150px;
  border-radius: 3px;
  box-shadow: 0 0 2px rgba(0,0,0,0.5);
  padding: 10px;
  text-align: center;
}
.style5 .tooltip {
  background: #1E252B;
  color: #FFFFFF;
  max-width: 200px;
  width: auto;
  font-size: .8rem;
  padding: .5em 1em;
}
.popper .popper__arrow,
.tooltip .tooltip-arrow {
  width: 0;
  height: 0;
  border-style: solid;
  position: absolute;
  margin: 5px;
}

.tooltip .tooltip-arrow,
.popper .popper__arrow {
  border-color: #1E252B;
}
.style5 .tooltip .tooltip-arrow {
  border-color: #1E252B;
}
.popper[x-placement^="top"],
.tooltip[x-placement^="top"] {
  margin-bottom: 5px;
}
.popper[x-placement^="top"] .popper__arrow,
.tooltip[x-placement^="top"] .tooltip-arrow {
  border-width: 5px 5px 0 5px;
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  bottom: -5px;
  left: calc(50% - 5px);
  margin-top: 0;
  margin-bottom: 0;
}
.popper[x-placement^="bottom"],
.tooltip[x-placement^="bottom"] {
  margin-top: 5px;
}
.tooltip[x-placement^="bottom"] .tooltip-arrow,
.popper[x-placement^="bottom"] .popper__arrow {
  border-width: 0 5px 5px 5px;
  border-left-color: transparent;
  border-right-color: transparent;
  border-top-color: transparent;
  top: -5px;
  left: calc(50% - 5px);
  margin-top: 0;
  margin-bottom: 0;
}
.tooltip[x-placement^="right"],
.popper[x-placement^="right"] {
  margin-left: 5px;
}
.popper[x-placement^="right"] .popper__arrow,
.tooltip[x-placement^="right"] .tooltip-arrow {
  border-width: 5px 5px 5px 0;
  border-left-color: transparent;
  border-top-color: transparent;
  border-bottom-color: transparent;
  left: -5px;
  top: calc(50% - 5px);
  margin-left: 0;
  margin-right: 0;
}
.popper[x-placement^="left"],
.tooltip[x-placement^="left"] {
  margin-right: 5px;
}
.popper[x-placement^="left"] .popper__arrow,
.tooltip[x-placement^="left"] .tooltip-arrow {
  border-width: 5px 0 5px 5px;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  right: -5px;
  top: calc(50% - 5px);
  margin-left: 0;
  margin-right: 0;
}